.details-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  .country-title {
    background-color: #04838f;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .cards-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 20px;
  }

  .chart-container {
    height: 400px;
    margin: 0 auto;
  }
}
