.details-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  .country-title {
    background-color: #04838f;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .cards-wrapper {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
    justify-content: space-between;
  }

  .chart-container {
    width: 100%;
    height: 400px;
  }
}

.back-button {
  padding: 8px 16px;
  background-color: #04838f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: center;

  &:hover {
    background-color: darken(#0c8990, 10%);
  }
}
