<div class="main-wrapper">
  <p class="page-title">Medals per Country</p>

  <div class="cards-wrapper">
    <app-card title="Number of JOs" [value]="numberOfJos"></app-card>
    <app-card
      title="Number of countries"
      [value]="numberOfCountries"
    ></app-card>
  </div>

  <div class="chart-container">
    <ngx-charts-pie-chart
      [scheme]="'cool'"
      [view]="view"
      [results]="pieChartData"
      [gradient]="false"
      [legend]="true"
      [labels]="true"
      [trimLabels]="false"
      [maxLabelLength]="20"
      [doughnut]="false"
      [arcWidth]="15"
      [animations]="true"
      [legendPosition]="legendPosition"
      (select)="onSelect($event)"
    >
      <ng-template #tooltipTemplate let-model="model">
        <div ngx-tooltip>
          <p>{{ model.name }}</p>
          <p>🏅 {{ model.value }}</p>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </div>
</div>
