.main-wrapper {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.page-title {
  background-color: #04838f;
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 20px auto;

  h1 {
    margin-bottom: 20px;
  }

  // Adjust legend styles for small screens
  @media (max-width: 600px) {
    ::ng-deep .legend-labels {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    ::ng-deep .legend-label {
      margin: 5px;
    }
  }
}
