<div class="main-wrapper">
  <p class="page-title">Medals per Country</p>

  <div class="cards-wrapper">
    <app-card title="Number of JOs" [value]="numberOfJos"></app-card>
    <app-card title="Number of countries" [value]="numberOfCountries"></app-card>
  </div>

  <div class="chart-container">
    <ngx-charts-pie-chart
      [scheme]="'cool'"
      [view]="[800, 400]"
      [results]="pieChartData"
      [gradient]="false"
      [legend]="true"
      [labels]="true"
      [trimLabels]="false"
      [maxLabelLength]="20"
      [doughnut]="false"
      [animations]="true"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
  </div>
</div>
